div{
    border: 5px solid grey;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
div p{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
}
img{
    width: 40%;
    height: auto;
}
body{
    margin: 0px;
    padding: 0;
}
header{
    text-align: center;
    font-size: xx-large;
    border: 3px solid magenta;
    color: limegreen;
    background-color: beige;
    margin: 0px;
    padding:12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.header-pgh{
    text-align: center;
    margin-top: 4px;
    font-size: 20px;
    text-decoration: underline;   
}
nav ul{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0 15px;
    padding: 0;
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: beige;
    padding: 8px;
    border-radius: 12px;
    display: inline-block;
    font-size: 12px;
}
nav ul li a:hover{
    background-color: bisque;
    transition: transform 0.5s ease;
    transform: scale(1.2);
}
footer{
    text-align: center;
    background-color: beige;
}
@media(max-width:480px){
    body{

    }
    img{
        width: 100%;
    }
    div{
        flex-direction: column;
        margin-left: 0;
    }
    div p{
        font-size: 20px;
    }
    
}

<